/* ESTILO DE LA SECCION PRINCIPAL CON SUPERPOSICION DE UN PSEUDOELEMENTO BEFORE DE BORDES REDONDEADOS EN LA IMAGEN */
.titulo>:nth-child(1) {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 0px;
    line-height: 18px;
}

.titulo>:nth-child(2) {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 0px;
    line-height: 18px;
}

.tituloFooter>:nth-child(1) {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
}

.tituloFooter>:nth-child(2) {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 900;
    line-height: 18px;
}

.navbar-brand {
    color: #175a80 !important;
}

* {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 13px;
    text-align: justify;
}

.textAnimation, .textAnimation2>p:nth-of-type(1) {
    line-height: 25px;
}

.btn-dark {
    background-color: #175a80 !important;
    border-color: #003479 !important;
}

.btn-dark:hover {
    background-color: #2481b7 !important;
}

.btn {
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
}

.seccionText{
    width: 55vw;
    padding-left: 3rem;
    padding-right: 3rem;
}

.seccionImagen{
    background-image: url(../imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px;
    position: relative;
    width: 45vw;
}

.seccionImagen::before {
    content: "";
    position: absolute;
    background: white;
    z-index: 1;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 40px;
    border-radius: 0 40px 40px 0 / 0 300px 300px 0 ;
    -webkit-border-radius: 0 40px 40px 0 / 0 300px 300px 0 ;
    -moz-border-radius: 0 40px 40px 0 / 0 300px 300px 0 ;
    -ms-border-radius: 0 40px 40px 0 / 0 300px 300px 0 ;
    -o-border-radius: 0 40px 40px 0 / 0 300px 300px 0 ;
}

/* ESTILO DE LA TRANSICION DEL TEXTO QUE APARECE DESDE EL MARGEN IZQUIERDO */

.textAnimation>:nth-child(1) {
    animation-name: translateLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0ms;
    animation-fill-mode: backwards;
}

.textAnimation>:nth-child(2) {
    animation-name: translateLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 250ms;
    animation-fill-mode: backwards;
}

.textAnimation>:nth-child(3) {
    animation-name: translateLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 500ms;
    animation-fill-mode: backwards;
}

.textAnimation>:nth-child(4) {
    animation-name: translateLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 750ms;
    animation-fill-mode: backwards;
}

.textAnimation>:nth-child(5) {
    animation-name: translateLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 1000ms;
    animation-fill-mode: backwards;
}

.textAnimation>:nth-child(6) {
    animation-name: translateLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 1250ms;
    animation-fill-mode: backwards;
}


.textAnimation2>:nth-child(1) {
    animation-name: translateLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 0ms;
    animation-fill-mode: backwards;
}
.textAnimation2>:nth-child(2) {
    animation-name: translateLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 250ms;
    animation-fill-mode: backwards;
}
.textAnimation2>:nth-child(3) {
    animation-name: translateLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 500ms;
    animation-fill-mode: backwards;
}
.textAnimation2>:nth-child(4) {
    animation-name: translateLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 750ms;
    animation-fill-mode: backwards;
}
.textAnimation2>:nth-child(5) {
    animation-name: translateLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 1000ms;
    animation-fill-mode: backwards;
}



@keyframes translateLeft {
    0% {
        opacity: 0;
        transform: translateX(-80%);
        -webkit-transform: translateX(-80%);
        -moz-transform: translateX(-80%);
        -ms-transform: translateX(-80%);
        -o-transform: translateX(-80%);
}
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
}
    100% {
        opacity: 1;
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
}
}

/* ESTILO SPINNER */
.spinner-wrapper{
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}


/* ESTILO DEL FOOTER */

footer {
    background: linear-gradient(90deg, #071b26 0%, #175a80 100% );
    color: white;
    min-height: 5rem;
}

.navfooter a {
    color: white;
}

.navfooter a:hover {
    color: white;
}

/* ESTILO DE LOS ICONOS DE INFORMACION DE CONTACTO*/

.mediaicons li{
    display: flex;
}

.mediaicons i{
    display: flex;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.mediaicons p{
    color: black;
}

.fa-map-marker-alt{
    color: #4267b2;
    background-color: #fff;
}
.mediaicons>li:nth-child(1):hover>a>i{
    background-color: #4267b2;
    color: #fff;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.fa-envelope{
    color: #e1306c;
    background-color: #fff;
}
.mediaicons>li:nth-child(2):hover>a>i{
    color: #fff;
    background-color:#e1306c;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.fa-phone-alt{
    color: #1da1f2;
    background-color: #fff;
}
.mediaicons>li:nth-child(3):hover>a>i{
    color: #fff;
    background-color: #1da1f2;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.mediaicons>li:nth-child(3):hover>a{
    color: #fff;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

@media screen and (max-width: 767px) 
{
    .seccionText{
        width: 100%;
        order: 2;
    }
    
    .seccionRuta{
        padding-top: 1rem;
    }

    .seccionImagen{
        background-position: 0px;
        width: 100%;
        min-height: 40vh;
        order: 1;
    }
    
    .seccionImagen::before {
        content: "";
        position: absolute;
        background: white;
        z-index: 1;
        top: inherit;
        left: 0px;
        right: 0px;
        bottom: 0px;
        height: 40px;
        width: 100%;
        border-radius: 300px 300px 0px 0px / 40px 40px 0px 0px ;
        -webkit-border-radius: 300px 300px 0px 0px / 40px 40px 0px 0px ;
        -moz-border-radius: 300px 300px 0px 0px / 40px 40px 0px 0px ;
        -ms-border-radius: 300px 300px 0px 0px / 40px 40px 0px 0px ;
        -o-border-radius: 300px 300px 0px 0px / 40px 40px 0px 0px ;
    }
}

@media screen and (max-width: 575px) 
{
    .seccionImagen{
        min-height: 25vh;
    }
}